<%- include('partials/header') %>

<h2>Leaderboard</h2>
<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Correct Guesses</th>
    </tr>
  </thead>
  <tbody>
    <% let rank = 1; %>
    <% users.forEach(function(user) { %>
      <tr>
        <td><%= rank++ %></td>
        <td><%= user.username %></td>
        <td><%= user.correctGuesses %></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('partials/footer') %>