<%- include('partials/header') %>

<div class="container">
  <h2>Vote for the Match</h2>
  <p>Match Date: <%= match.date.toDateString() %></p>

  <% if (message) { %>
    <p class="error-message"><%= message %></p>
  <% } %>

  <form action="/vote/<%= match._id %>" method="POST">
    <% match.teams.forEach(function(team) { %>
      <div>
        <input type="radio" id="<%= team %>" name="team" value="<%= team %>" required>
        <label for="<%= team %>"><%= team %></label>
      </div>
    <% }); %>
    <button type="submit">Submit Vote</button>
  </form>
</div>

<%- include('partials/footer') %>
